.user_item_container{
    background: #D9D9D9;
    width: fit-content;
    padding: 35px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.info_container{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.itemKey{
    font-size: medium;
    color: #6C63FF;
    margin: 0px 20px 5px 0px;
}
.itemVal{
    font-size: large;
}